.help_everyone{
    font-family: cairo;
    color: #2995E2;
    font-weight: bold;
    margin-left: 5rem;
}
.navigation_bar{
    display: flex;
    flex-direction: row;
    gap: 5rem;
}
.nav_links {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-left: 10rem;
}
.nav_links li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: cairo;
}
.sign_up{
    border: 1px solid black;
    width: 130px;
    height: 44px;
}

