.help_everyone{
    font-family: cairo;
    color: #2995E2;
    font-weight: bold;
    margin-left: 5rem;
}
.navigation_bar{
    display: flex;
    flex-direction: row;
    gap: 5rem;
}
.nav_links {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-left: 10rem;
}
.nav_links li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: cairo;
}
.sign_up{
    border: 1px solid black;
    width: 130px;
    height: 44px;
    background-color: white;
    margin-left: 15rem;
}
.navigation_bar{
    margin-top: 2rem;
}
.Main_text{
    font-family: cairo, serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 93px;
}
.We_help{
    margin-top: 13rem;
    margin-left: 5rem;
    display: flex;
    flex-direction: row;
}
.image_one{
    margin-left: 15rem;
    padding-left: 5rem;
}



